/* 
 * Colour
 */

.bg-colour {
  background-color: var(--background);
}

.bg-secondary-colour {
  background-color: var(--background-secondary);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

/* 
 * Column
 */

.column-3 {
  width: 33.33%;
  float: left;
}

/* 
 * Text
 */

.text-blue-400 {
  font-weight: 400;
}

.text-blue-400:hover {
  color: var(--primary);
}

.text-blue-700 {
  font-weight: 700;
}

.text-blue-700:hover {
  color: var(--primary);
}

a {
  text-decoration: none;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-property: all;
  color: var(--text-secondary);
}

a:hover {
  color: var(--primary);
}

.column-75 {
  width: 75%;
  float: left;
}
.column-25 {
  width: 25%;
  float: left;
}

/* 
 * Button
 */

.button {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  align-items: center;

  border-style: solid;
  border-radius: 9999px;
  border-width: 2px;
  border-color: var(--primary);

  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 700;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-property: all;
}

.button:hover {
  background-color: var(--primary);
  color: var(--text-primary);
}

.button-secondary {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  align-items: center;

  border-style: solid;
  border-radius: 7px;
  border-width: 2px;
  border-color: var(--text-secondary);

  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 13;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-property: all;
}

.button-secondary:hover {
  background-color: var(--text-secondary);
  color: var(--text-primary);
}

/* 
 * Separator
 */

.separator {
  background-color: var(--primary);
  height: 10rem;
  width: 100%;
}

/* 
 * Card
 */

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 46%;
  margin: 4px;
  float: left;
  margin-left: 25px;
  margin-bottom: 25px;
}

.card .card-body {
}

.card .card-image {
  color: var(--text-primary);
  background-color: var(--card-primary);

  height: 7.5rem;

  border-radius: 7px 7px 0 0;

  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c4c4c4' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 15%, 15%;
}

.card .card-body .active {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236faefc' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

.card .card-content {
  background-color: var(--background-secondary);
  padding: 1.5rem;
  padding-bottom: 3.5rem;
  border-radius: 0 0 7px 7px;
}

.card .card-content p {
  margin-bottom: 3rem;
}

.cards-title {
  margin-bottom: 2.5rem;
  font-size: 45;
  white-space: nowrap;
}

/* 
 * Container
 */

.container.c25 {
  padding: 0 25% 0 25%;
}

.container.c20 {
  padding: 0 20% 0 20%;
}

.container.c15 {
  padding: 0 15% 0 15%;
}

/* 
 * Positioning
 */

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
 * Navbar
 */

.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;

  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin: 0;
}

.navbar li:not(:last-child) {
  margin-right: 1.5rem;
}

/* 
 * Display Size Support
 */

@media (max-width: 768px) {
  .container {
    padding: 0 10% 0 10% !important;
  }
}

@media (max-width: 992px) {


  .container {
    padding: 0 10% 0 10% !important;
  }

    
  .skills-container {
    padding: 0 5% 0 5% !important;
  }
  .skills {
    flex-direction: row;
  }

  .skills > .skill {
    font-size: 16px;
    width: 100%;
  }

  .skill > .experience {
    font-size: 12px;
    margin-left: 15px;
  }

  nav .column-75 {
    width: 0;
  }

  nav .navbar {
    float: right;
  }

  .header {
    padding-top: 213px;
    padding-bottom: 50px;
  }

  .header .title {
    font-size: 55px;
  }

  .header .subtitle {
    padding: 0 10px 20px 8px;
    font-size: 25px;
  }

  .card {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }

  .footer .content {
    padding: 0;
    padding-top: 5rem;
    height: 100%;
  }
}

/*
 * List
 */