body[class='light-mode'] {
  --primary: #569df7;
  --secondary: #f2f2f2;
  --text-primary: #000;
  --text-secondary: #343232;
  --background: #fff;
  --background-secondary: #f2f2f2;
  --card-primary: #f2f2f2;

  background: var(--background) center center no-repeat
    url('../assets/img/bg_light.svg');
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
}

body[class='dark-mode'] {
  --primary: #2787ff;
  --secondary: #f2f2f2;
  --text-primary: #ffffff;
  --text-secondary: #606f87;
  --background: #171d26;
  --background-secondary: #1f2630;
  --card-primary: #252d38;

  background: var(--background) center center no-repeat
    url('../assets/img/bg.svg');
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: var(--text-primary);
}

.wave {
  z-index: -10;
}

.wave svg {
  width: 100%;
  height: auto;
  fill: var(--primary);
}

.wave-secondary {
  z-index: -10;
}

.wave-secondary svg {
  width: 100%;
  height: auto;
  fill: var(--background-secondary);
}

/* 
 * Nav
 */

nav {
  margin-top: 2.5rem;
}

nav .button {
  background-color: var(--primary);
}

nav .button:hover {
  border-radius: 25px;
}

/* 
 * Header
 */

.header {
  text-align: center;
  z-index: 100;
  width: 100%;
  height: 300px;
  padding-top: 200px;
}

.header .title {
  color: var(--text-primary);
  font-size: 80px;
  margin: 0;
}

.header .subtitle {
  color: var(--text-secondary);
  padding: 5px 0 50px 0;
}

/* 
 * Content
 */

.content {
  background-color: var(--background);
  padding: 2rem 0 10rem 0;
}

.content p {
  color: var(--text-secondary);
}

.content-info {
  background-color: var(--background-secondary);
  padding: 10rem 0 10rem 0;
}

.content-info p {
  color: var(--text-secondary);
}

/* 
 * Footer
 */

.footer {
  z-index: 1000;
  background-color: var(--background);
  width: 100%;
  height: 20rem;
  font-size: 1.5rem;
}

.footer .icon {
  font-size: 2.5rem;
}

.footer .content p {
  margin: 0;
  color: var(--text-secondary);
}

.footer .wave {
  z-index: 1000;
  left: 0px;
  bottom: 0px;
  position: sticky;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: inline-block;
}

.footer .wave svg {
  fill: var(--background-secondary);
}

.footer .content {
  background-color: var(--background-secondary);
  text-align: center;
  padding: 10rem;
}
.footer .content {
  margin: 0;
}

/* 
 * Light/Dark Mode
 */

.lightmode-toggle {
  cursor: pointer;

  color: var(--text-secondary);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-property: all;
}

.lightmode-toggle:hover {
  color: var(--text-primary);
}
